<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mschneider.wgutermtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patiently">

        <activity android:name="com.mschneider.wgutermtracker.ui.activities.assessment.AssessmentsActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.assessment.AssessmentEditActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.assessment.AssessmentAddActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.assessment.AssessmentDetailActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.term.TermsActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.term.TermAddActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.term.TermEditActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.term.TermDetailActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.course.CourseAddActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.course.CourseEditActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.course.CourseDetailActivity" />
        <activity android:name="com.mschneider.wgutermtracker.ui.activities.course.CoursesActivity" />

        <activity android:name="com.mschneider.wgutermtracker.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>